<ng-container
  *ngIf="
    this.parameters?.appSectionParameters?.selectedLanguage === 'de';
    else englishTemplate
  "
>
  <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
</ng-container>

<!-- *********************************** -->
<!-- E N G L I S H   T E M P L A T E -->
<!-- *********************************** -->

<ng-template #englishTemplate>
  <ion-accordion
    [disabled]="!isAnalyticsEnabled"
    value="I2T: Image to Text"
    title="{{ getAccordionTooltip('I2T', false) }}"
  >
    <ion-item slot="header" color="light">
      <img
        class="z-control-image-to-text-logo"
        src="assets/icon/z-control-image-to-text-logo-32px.png"
        alt="z-control App Logo"
      />
      <ion-label>{{ APPS.IMAGE_TO_TEXT }}</ion-label>
      <ion-label *ngIf="!this.utilsService.isSmallScreen">{{
        "MAIN.ACCORDION.USES_BACKEND" | translate
      }}</ion-label>
      <ion-icon
        name="cloudy-outline"
        title="{{ 'MAIN.ACCORDION.USES_BACKEND' | translate }}"
      ></ion-icon>
    </ion-item>
    <div slot="content" title="">
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title>{{
            "MAIN.ACCORDION.WHAT_DOES_APP_DO" | translate
          }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="summarized-app-content">
          <p>
            <strong
              >The <i>z&#8209;control Image to Text</i> app allows you to
              extract text from an image.</strong
            >
          </p>

          <p>
            You can take a photo or select an image from your device. The app
            recognizes the text contained in the image using optical character
            recognition (OCR) and then displays it with statistics such as the
            number of words, lines, and characters.
          </p>

          <p>
            The data are automatically stored locally on your device. The data
            is not stored in the cloud, and you can view, edit, copy, share, or
            delete saved entries at any time.
          </p>

          <h2>✨ Highlights:</h2>
          <ul>
            <li>
              <strong>Recognize text in images</strong><br />
              The app recognizes the text contained in the image and displays
              the result with statistics such as the number of words, lines, and
              characters.
            </li>
            <li>
              <strong>Add additional information</strong><br />
              Optional add a title and a description to describe the photo.
            </li>
            <li>
              <strong>Manage history</strong><br />
              View previously processed images and their associated information.
              You can edit or delete individual entries or the entire history.
            </li>
            <li>
              <strong>Copy and share data</strong><br />
              Choose whether you want to copy / share the image, title,
              description, recognized text, text statistics, and creation and
              modification dates.
            </li>
            <li>
              <strong>Status display</strong><br />
              The status display guides you step by step through the processing
              procedure.
            </li>
            <li>
              <strong>App language</strong><br />
              You can choose German or English as the app language.
            </li>
          </ul>
          <app-open-source-apps
            [selectedLanguage]="
              parameters!.appSectionParameters.selectedLanguage
            "
          ></app-open-source-apps>
        </ion-card-content>
      </ion-card>

      <ion-accordion-group (ionChange)="subAccordionChange($event)">
        <ion-accordion
          value="I2T: Limitations and Monthly Quotas"
          title="{{
            getAccordionTooltip('I2T: Limitations and Monthly Quotas')
          }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.LIMITATIONS_AND_QUOTAS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <div class="limitations-info">
              <h5>Limitations:</h5>
              <p>
                <strong>
                  All users can collectively process a maximum of:
                  {{
                    parameters?.maxImageProcessingTotalPerMonth
                      | number: "1.0-0" : "en"
                  }}
                  images per month.
                </strong>
                If this quota is exceeded, costs will be incurred for
                <i>z&#8209;control</i>.
              </p>
              <p>
                To manage this shared quota,
                <strong
                  >each user is limited to processing a maximum of
                  {{
                    parameters?.maxImageProcessingUserPerMonth
                      | number: "1.0-0" : "en"
                  }}
                  images per month</strong
                >, ensuring fair access for all users.
              </p>
              <p>
                <strong>
                  Since image processing is a paid service, quotas are
                  necessary. The app will notify you well in advance when
                  approaching the limit and will prevent further image
                  processing once the monthly quota is exhausted.
                </strong>
              </p>
              <p>
                Whenever you reach the monthly quota, you can continue to use
                the app for free, but image processing will be disabled until
                the quota resets on the 1st of the next month. You can always
                view, edit, copy, and share previously processed images and
                their associated information.
              </p>
            </div>
            <div>
              <h5>How do I check my monthly translation quota?</h5>
              <p><i>On the image processing page</i></p>
              <p>
                Your current image processing quota is displayed at the bottom
                of the image processing page in an expandable
                <i>Monthly Quota</i> section.
              </p>
              <p><i>On the Statistics page in Settings</i></p>
              <p>
                View detailed, anonymized statistics showing the overall monthly
                quota usage and device information across all users. All data is
                aggregated to protect your privacy.
              </p>
            </div>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Differences between Web and Mobile App"
          title="{{
            getAccordionTooltip('I2T: Differences between Web and Mobile App')
          }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.DIFFERENCES_WEB_MOBILE" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <h5>Mobile version / native app</h5>

            <p>
              The native app is currently available only as a test version for a
              limited number of users. Access requires an email request to
              z&#8209;control.
            </p>
            <p>JPEG images can currently only be copied in the native app.</p>
            <p>Taking photos is generally easier with a mobile device.</p>
            <p>
              In the native app, the selected data can be sent directly to
              another app using the sharing function.
            </p>

            <h5>Web version</h5>

            <p>
              The web version does not need to be installed and can be used
              directly in a browser.
            </p>
            <p>
              When using the web version on a PC or notebook, PNG images taken
              with the camera can be copied.
            </p>
            <p>
              When using the web version in a mobile browser, images currently
              cannot be copied. However, the recognized text, title,
              description, and creation and modification dates can be copied.
            </p>
            <p><strong>IMPORTANT</strong></p>
            <p>
              When accessing the <strong>web version on your phone</strong>,
              ensure it displays in <strong>mobile mode</strong> (not desktop
              mode) for optimal experience. Mobile mode provides a native
              app-like interface and enables voice input through your keyboard.
            </p>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Start Web App"
          title="{{ getAccordionTooltip('I2T: Start Web App') }}"
        >
          <ion-item slot="header" color="light">
            <h4>{{ "MAIN.ACCORDION.START_WEB_APP" | translate }}</h4>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <div>
              Explore the z&#8209;control Image to Text app directly in your
              browser.
            </div>

            <p>
              Take a photo or select an image from your device, and experience
              extracting text from images, adding titles and descriptions, and
              utilizing copy and share features in real time.
            </p>

            <p>
              The web app allows you to test the extraction workflow, quota
              management system, and user interface without installing any
              software.
            </p>

            <app-web-app-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-web-app-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Get Mobile App"
          title="{{ getAccordionTooltip('I2T: Get Mobile App') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.DOWNLOAD_MOBILE_APP" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-mobile-app-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
              [maxImageProcessingTotalPerMonth]="
                parameters!.maxImageProcessingTotalPerMonth
              "
            ></app-mobile-app-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Inline Help"
          title="{{ getAccordionTooltip('I2T: Inline Help') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.INLINE_HELP" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-help-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-help-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Feedback"
          title="{{ getAccordionTooltip('I2T: Feedback') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.FEEDBACK_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-feedback-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-feedback-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Privacy Policy"
          title="{{ getAccordionTooltip('I2T: Privacy Policy') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.PRIVACY_POLICY_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-privacy-policy-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-privacy-policy-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Release Notes"
          title="{{ getAccordionTooltip('I2T: Release Notes') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.CHANGE_LOG_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-change-log-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-change-log-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Get Source Code"
          title="{{ getAccordionTooltip('I2T: Get Source Code') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.SHOW_SOURCE_CODE" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-source-code-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-source-code-apps>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-accordion>
</ng-template>

<!-- *********************************** -->
<!-- G E R M A N   T E M P L A T E       -->
<!-- *********************************** -->
<ng-template #germanTemplate>
  <ion-accordion
    [disabled]="!isAnalyticsEnabled"
    value="I2T: Image to Text"
    title="{{ getAccordionTooltip('I2T', false) }}"
  >
    <ion-item slot="header" color="light">
      <img
        class="z-control-image-to-text-logo"
        src="assets/icon/z-control-image-to-text-logo-32px.png"
        alt="z-control App Logo"
      />
      <ion-label>{{ APPS.IMAGE_TO_TEXT }}</ion-label>
      <ion-label *ngIf="!this.utilsService.isSmallScreen">{{
        "MAIN.ACCORDION.USES_BACKEND" | translate
      }}</ion-label>
      <ion-icon
        name="cloudy-outline"
        title="{{ 'MAIN.ACCORDION.USES_BACKEND' | translate }}"
      ></ion-icon>
    </ion-item>
    <div slot="content" title="">
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title>{{
            "MAIN.ACCORDION.WHAT_DOES_APP_DO" | translate
          }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="summarized-app-content">
          <p>
            <strong
              >Die <i>z‑control Image to Text</i> App ermöglicht es, Texte aus
              einem Bild zu extrahieren.</strong
            >
          </p>

          <p>
            Sie können ein Foto aufnehmen oder ein Bild von Ihrem Gerät
            auswählen. Die App erkennt mittels optischer Zeichenerkennung (OCR)
            den im Bild enthaltenen Text und zeigt ihn zusammen mit Statistiken
            wie Anzahl der Wörter, Zeilen und Zeichen an.
          </p>

          <p>
            Die Daten werden automatisch lokal auf Ihrem Gerät gespeichert. Die
            Daten werden nicht in die Cloud übernommen; Sie können gespeicherte
            Einträge jederzeit ansehen, bearbeiten, kopieren, teilen oder
            löschen.
          </p>

          <h2>✨ Highlights:</h2>
          <ul>
            <li>
              <strong>Text in Bildern erkennen</strong><br />
              Die App erkennt den im Bild enthaltenen Text und zeigt das
              Ergebnis mit Statistiken wie Wortanzahl, Zeilen und Zeichen an.
            </li>
            <li>
              <strong>Zusätzliche Informationen hinzufügen</strong><br />
              Optional können Sie dem Foto einen Titel und eine Beschreibung
              hinzufügen.
            </li>
            <li>
              <strong>Verlauf verwalten</strong><br />
              Betrachten Sie zuvor verarbeitete Bilder und die zugehörigen
              Informationen. Einzelne Einträge oder der gesamte Verlauf können
              bearbeitet oder gelöscht werden.
            </li>
            <li>
              <strong>Daten kopieren und teilen</strong><br />
              Wählen Sie aus, ob Sie das Bild, den Titel, die Beschreibung, den
              erkannten Text, die Textstatistiken sowie Erstellungs‑ und
              Änderungsdaten kopieren/teilen möchten.
            </li>
            <li>
              <strong>Statusanzeige</strong><br />
              Die Statusanzeige führt Sie Schritt für Schritt durch den
              Verarbeitungsablauf.
            </li>
            <li>
              <strong>App‑Sprache</strong><br />
              Sie können Deutsch oder Englisch als App‑Sprache wählen.
            </li>
          </ul>
          <app-open-source-apps
            [selectedLanguage]="
              parameters!.appSectionParameters.selectedLanguage
            "
          ></app-open-source-apps>
        </ion-card-content>
      </ion-card>

      <ion-accordion-group (ionChange)="subAccordionChange($event)">
        <ion-accordion
          value="I2T: Limitations and Monthly Quotas"
          title="{{
            getAccordionTooltip('I2T: Limitations and Monthly Quotas')
          }}"
        >
          <ion-item slot="header" color="light">
            <ion-label
              >Welche Einschränkungen und Monatskontingente gibt es?</ion-label
            >
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <div class="limitations-info">
              <h5>Einschränkungen:</h5>
              <p>
                <strong>
                  Alle Nutzer gemeinsam können pro Monat maximal
                  {{
                    parameters?.maxImageProcessingTotalPerMonth
                      | number: "1.0-0" : "en"
                  }}
                  Bilder verarbeiten.
                </strong>
                Wird dieses Kontingent überschritten, entstehen Kosten für
                <i>z‑control</i>.
              </p>
              <p>
                Zur Verwaltung dieses gemeinsamen Kontingents ist jeder Nutzer
                auf maximal
                <strong>
                  {{
                    parameters?.maxImageProcessingUserPerMonth
                      | number: "1.0-0" : "en"
                  }}
                  Bilder pro Monat
                </strong>
                begrenzt, um einen fairen Zugriff für alle zu gewährleisten.
              </p>
              <p>
                <strong>
                  Da die Bildverarbeitung ein kostenpflichtiger Dienst ist, sind
                  Kontingente erforderlich. Die App benachrichtigt Sie recht
                  zeitig vor Erreichen des Limits und verhindert weitere
                  Bildverarbeitungen, sobald das Monatskontingent erschöpft ist.
                </strong>
              </p>
              <p>
                Sobald Sie das Monatskontingent erreicht haben, können Sie die
                App weiterhin kostenlos nutzen; die Bildverarbeitung wird jedoch
                bis zum Reset des Kontingents am 1. des nächsten Monats
                deaktiviert. Sie können stets zuvor verarbeitete Bilder und
                deren Informationen anzeigen, bearbeiten, kopieren und teilen.
              </p>
            </div>
            <div>
              <h5>Wie überprüfe ich mein monatliches Kontingent?</h5>
              <p><i>Auf der Bildverarbeitungsseite</i></p>
              <p>
                Ihr aktuelles Bildverarbeitungs‑Kontingent wird unten auf der
                Bildverarbeitungsseite in einem aufklappbaren Abschnitt
                <i>Monatliches Kontingent</i> angezeigt.
              </p>
              <p><i>Auf der Statistikseite in den Einstellungen</i></p>
              <p>
                Dort sehen Sie detaillierte, anonymisierte Statistiken zur
                monatlichen Kontingentnutzung und Geräteinformationen. Alle
                Daten werden aggregiert, um Ihre Privatsphäre zu schützen.
              </p>
            </div>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Differences between Web and Mobile App"
          title="{{
            getAccordionTooltip('I2T: Differences between Web and Mobile App')
          }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.DIFFERENCES_WEB_MOBILE" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <h5>Mobile Version / native App</h5>

            <p>
              Die native App ist derzeit nur als Testversion für eine begrenzte
              Anzahl von Benutzern verfügbar. Der Zugang erfordert eine
              E‑Mail‑Anfrage an z‑control.
            </p>
            <p>
              JPEG‑Bilder können momentan nur in der nativen App kopiert werden.
            </p>
            <p>
              Das Aufnehmen von Fotos ist auf mobilen Geräten in der Regel
              einfacher.
            </p>
            <p>
              In der nativen App können ausgewählte Daten direkt an andere Apps
              über die Freigabefunktion gesendet werden.
            </p>

            <h5>Web‑Version</h5>

            <p>
              Die Web‑Version muss nicht installiert werden und kann direkt im
              Browser verwendet werden.
            </p>
            <p>
              Bei Verwendung der Web‑Version auf PC oder Notebook können
              PNG‑Bilder, die mit der Kamera aufgenommen wurden, kopiert werden.
            </p>
            <p>
              Bei Nutzung der Web‑Version im mobilen Browser können Bilder
              derzeit nicht kopiert werden. Der erkannte Text, Titel,
              Beschreibung sowie Erstellungs‑ und Änderungsdaten können jedoch
              kopiert werden.
            </p>
            <p><strong>WICHTIG</strong></p>
            <p>
              Wenn Sie die Web‑Version auf Ihrem Telefon öffnen, stellen Sie
              sicher, dass sie im <strong>mobilen Modus</strong> (nicht
              Desktop‑Modus) angezeigt wird, um die beste Benutzererfahrung zu
              erhalten. Der mobile Modus bietet eine native App‑ähnliche
              Oberfläche und ermöglicht Spracheingabe über Ihre Tastatur.
            </p>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Start Web App"
          title="{{ getAccordionTooltip('I2T: Start Web App') }}"
        >
          <ion-item slot="header" color="light">
            <h4>{{ "MAIN.ACCORDION.START_WEB_APP" | translate }}</h4>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <div>
              Entdecken Sie die z‑control Image to Text App direkt in Ihrem
              Browser.
            </div>

            <p>
              Machen Sie ein Foto oder wählen Sie ein Bild von Ihrem Gerät aus
              und erleben Sie die Texterkennung in Bildern, das Hinzufügen von
              Titeln und Beschreibungen sowie Kopier‑ und Freigabefunktionen in
              Echtzeit.
            </p>

            <p>
              Die Web‑App ermöglicht es Ihnen, den Erkennungsworkflow, das
              Kontingentmanagement und die Benutzeroberfläche zu testen, ohne
              Software installieren zu müssen.
            </p>

            <app-web-app-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-web-app-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Get Mobile App"
          title="{{ getAccordionTooltip('I2T: Get Mobile App') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.DOWNLOAD_MOBILE_APP" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-mobile-app-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
              [maxImageProcessingTotalPerMonth]="
                parameters!.maxImageProcessingTotalPerMonth
              "
            ></app-mobile-app-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Inline Help"
          title="{{ getAccordionTooltip('I2T: Inline Help') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.INLINE_HELP" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-help-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-help-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Feedback"
          title="{{ getAccordionTooltip('I2T: Feedback') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.FEEDBACK_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-feedback-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-feedback-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Privacy Policy"
          title="{{ getAccordionTooltip('I2T: Privacy Policy') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.PRIVACY_POLICY_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-privacy-policy-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-privacy-policy-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Release Notes"
          title="{{ getAccordionTooltip('I2T: Release Notes') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.CHANGE_LOG_APPS" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-change-log-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-change-log-apps>
          </div>
        </ion-accordion>

        <ion-accordion
          value="I2T: Get Source Code"
          title="{{ getAccordionTooltip('I2T: Get Source Code') }}"
        >
          <ion-item slot="header" color="light">
            <ion-label>{{
              "MAIN.ACCORDION.SHOW_SOURCE_CODE" | translate
            }}</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content" title="">
            <app-source-code-apps
              [selectedLanguage]="
                parameters!.appSectionParameters.selectedLanguage
              "
              [selectedAccordion]="
                parameters!.appSectionParameters.selectedAccordion
              "
            ></app-source-code-apps>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-accordion>
</ng-template>
