ion-card-content {
  .open-source-note {
    margin-top: 30px;
    font-size: 0.9rem;
  }
}

.feature-icon {
  margin-right: 6px;
  vertical-align: middle;
  color: var(--ion-color-primary, #3880ff);
}
