<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-button">
      @if (showBackButton) {
      <ion-button 
        fill="clear"
        (click)="goBack()"
        (keydown.enter)="goBack()"
        title="Go back"
      >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      }
    </ion-buttons>

    <div class="header-flex-row">
      <div class="logo-container"
        (click)="openFooter()"
        (keydown.enter)="openFooter()"
        [class.with-back-button]="showBackButton"
        tabindex="0"
        role="button"
        title="Toggle footer — show or hide information about z-control and this app"
      >
        <img
          class="logo"
          src="assets/icon/z-bell-32px.png"
          alt="z-control logo"
        />
        <span class="app-title">z-control</span>
      </div>
      <div class="center-title">
        <span>Apps & Tools</span>
      </div>
      <div class="selected-accordion-container">
        @if (selectedAccordion) {
        <span
          class="selected-accordion"
          title="selected accordion"
          >{{ selectedAccordion }}</span
        >
        }
      </div>
    </div>
  </ion-toolbar>
</ion-header>