<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showBackButton) {
      <ion-button
        fill="clear"
        (click)="goBack()"
        (keydown.enter)="goBack()"
        title="Go back"
      >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      }
    </ion-buttons>

    <div
      (click)="openFooter()"
      (keydown.enter)="openFooter()"
      class="logo-container"
      [class.with-back-button]="showBackButton"
      tabindex="0"
      role="button"
      title="Toggle footer — show or hide information about z-control and this app"
    >
      <img
        class="logo"
        src="assets/icon/z-bell-32px.png"
        alt="z-control logo"
      />
      <span class="app-title">z-control</span>
    </div>

    @if (selectedAccordion) {
    <ion-title
      slot="end"
      class="selected-accordion"
      title="selected accordion"
      >{{ selectedAccordion }}</ion-title
    >
    }
  </ion-toolbar>
</ion-header>
