<ion-header>
  <ion-toolbar>
    <ion-title>GitHub Analytics & Source Code</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="closeModal()"
        (keydown.enter)="closeModal()"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="circular"></ion-spinner>
    <p>{{ "APP.LOADING_DATA" | translate }}</p>
  </div>
  <main>
    <ng-container *ngIf="lang === 'de'; else englishTemplate">
      <ng-container *ngTemplateOutlet="germanTemplate"></ng-container>
    </ng-container>

    <!-- E N G L I S H   T E M P L A T E -->

    <ng-template #englishTemplate>
      <p>
        These analytics provide
        <strong
          >views and clones for z-control GitHub repositories over time</strong
        >. Because GitHub only exposes traffic data for the last 14 days, the
        statistics are saved daily at <strong>18:00</strong> to maintain a
        historical record.
      </p>
      <p>
        Click any row to open the repository and view detailed statistics and a
        link to its GitHub source code.
      </p>
    </ng-template>

    <!-- G E R M A N   T E M P L A T E -->

    <ng-template #germanTemplate>
      <p></p>
      <p>
        Diese Analysen zeigen die
        <strong
          >"Views" und "Clones" für z-control GitHub-Repositories im
          Zeitverlauf</strong
        >. Da GitHub Verkehrsdaten nur für die letzten 14 Tage bereitstellt,
        werden die Statistiken täglich um <strong>18:00</strong> gespeichert, um
        eine historische Aufzeichnung zu führen.
      </p>
      <p>
        Klicken Sie auf eine Zeile, um das Repository zu öffnen und detaillierte
        Statistiken sowie einen Link zum GitHub-Quellcode anzuzeigen.
      </p>
      <p>
        Bitte beachten Sie, dass die Statistik nur in Englisch verfügbar ist.
      </p>
    </ng-template>

    <section
      [hidden]="!(this.utilsService.isSmallScreen && isRepoOpened)"
      class="orientation-info"
    >
      <ion-item color="warning">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>
          For optimal viewing, please rotate your device to
          <strong>landscape mode</strong>.
        </ion-label>
      </ion-item>
    </section>
    <section>
      <table class="repos-table">
        <thead>
          <tr>
            <th class="repo">Repository</th>
            <th class="count">Last<br />Access</th>
            <th class="count">Views<br />Count</th>
            <th class="count">Clones<br />Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of analyticsData">
            <td colspan="4" style="padding: 0">
              <ion-accordion-group (ionChange)="onAccordionGroupChange($event)">
                <ion-accordion [value]="item.repo">
                  <ion-item slot="header">
                    <table aria-hidden="true" class="repo-table">
                      <tr>
                        <td class="repo">{{ item.repo }}</td>
                        <td class="count">{{ getLastAccessDays(item) }} d</td>
                        <td class="count">
                          {{ item.views.count }}
                        </td>
                        <td class="count">
                          {{ item.clones.count }}
                        </td>
                      </tr>
                    </table>
                  </ion-item>
                  <ion-item slot="content">
                    <table aria-hidden="true" class="repo-table">
                      <tr>
                        <td colspan="4" style="padding: 0">
                          <app-github-analytics-details
                            [item]="item"
                            [analyticsData]="analyticsData"
                            [githubTrafficData]="githubTrafficData"
                          ></app-github-analytics-details>
                        </td>
                      </tr>
                    </table>
                  </ion-item>
                </ion-accordion>
              </ion-accordion-group>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <hr />
    <ion-accordion-group>
      <ion-accordion value="rawDataAll">
        <ion-item slot="header">
          <ion-label>Show Raw Data (JSON)</ion-label>
        </ion-item>
        <div slot="content">
          <ion-accordion-group>
            <ion-accordion value="rawDataGithubTraffic">
              <ion-item slot="header">
                <ion-label>GitHub Traffic API Data (Current 14 Days)</ion-label>
              </ion-item>
              <div slot="content" style="max-height: 300px; overflow-y: auto">
                <pre>{{ githubTrafficData | json }}</pre>
              </div>
            </ion-accordion>
            <ion-accordion value="rawDataGithubAnalytics">
              <ion-item slot="header">
                <ion-label
                  >GitHub Analytics History Data (Aggregated)</ion-label
                >
              </ion-item>
              <div slot="content" style="max-height: 300px; overflow-y: auto">
                <pre>{{ analyticsData | json }}</pre>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </main>
</ion-content>
