main {
  margin: 0;
  padding: 0 1em 1em 1em;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
}

hr {
  margin: 32px 0 0 0;
  border-top: 1px solid #000;
}

.repos-table {
  width: 100%;

  thead tr {
    th {
      &.repo {
        text-align: left;
        width: 40%;
      }

      &.count {
        text-align: center;
        width: 10%;
      }
    }
  }

  td {
    .repo {
      width: 40%;
      font-weight: bold;
    }

    .count {
      width: 10%;
      text-align: right;
    }
  }
}

.repo-table {
  width: 100%;

  tr {
    th {
      text-align: left;

      &.repo {
        width: 40%;
      }

      &.count {
        width: 10%;
      }
    }
  }

  td {
    .repo {
      width: 40%;
      font-weight: bold;
    }

    .count {
      width: 10%;
      text-align: right;
    }
  }
}

.orientation-info {
  margin-bottom: 1em;
  ion-item {
    --background: #fffbe6;
    --color: #856404;
    border-radius: 8px;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

    ion-icon {
      margin-left: 10px;
    }
  }
}
