.footer-content {
  color: #888;

  .footer-compact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    text-align: center;
    margin-left: 27px;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;

      .logo {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin: 10px;
        border-radius: 8px;
      }
    }

    .expand-button {
      margin-left: auto;
    }
  }

  .footer-details {
    display: none;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 10px;
    animation: fadeIn 0.2s;
    text-align: center;
    gap: 10px;

    &.expanded {
      display: flex;
    }

    .footer-privacy-policy {
      margin: 25px 0 10px 10px;
      font-size: 1.1em;

      ion-icon {
        margin-bottom: -3px;
      }
    }

    .footer-analytics {
      margin: 10px 0 30px 0;
      font-size: 0.85em;

      &.not-enabled {
        color: #bb0000;
      }
    }

    .version-info {
      .footer-version {
        font-size: 0.95em;
        margin: 0px;
        cursor: pointer;
      }

      .changelog-button::part(native) {
        color: #888;
      }
    }

    .footer-contact {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: center;

      ion-icon {
        margin-right: 5px;
      }

      .footer-email {
        font-size: 0.95em;
        margin: 15px 0 25px 0;

        ion-icon {
          margin-bottom: -3px;
        }
      }

      .contact-item {
        display: flex;
        align-items: center;
        font-size: 0.95em;
      }
    }
    .footer-navigation-bar {
      padding-bottom: 50px;
    }
  }

  .footer-link {
    color: inherit;
    text-decoration: none;
    font-size: 0.95em;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
