<!-- Start Page Proposal for Firebase Hosting -->

<app-header
  [selectedAccordion]="selectedAccordion"
  [showBackButton]="false"
></app-header>

<ion-content class="ion-padding">
  <div class="general info">
    <h2>Welcome to our Applications & Tools</h2>
    @if (isAnalyticsAllowed) {
    <p>
      Discover and access our suite of open-source apps and developer tools.<br />
      Browse features, platform-specific guides, and documentation to get
      started or find support.
    </p>
    } @if (!isAnalyticsAllowed) {
    <div class="analytics-not-allowed">
      <p class="ion-text-left">
        <b>Important:</b> Please enable anonymous analytics to continue using
        the Landing Page.<br />
        We collect only non-identifying usage data to improve our services.
      </p>
      <p class="ion-text-left">
        Analytics can be enabled in the footer. If the footer is closed, click
        the z-control icon to open it.<br />
        You can change this setting at any time.
      </p>
    </div>
    }
  </div>

  <ion-accordion-group
    #accordionGroup
    (ionChange)="accordionGroupChange($event)"
    [disabled]="!isAnalyticsAllowed"
  >
    <app-qr-code-generator-section
      [parameters]="qrCodeGeneratorSectionParams"
      (subAccordionChangeEvent)="subAccordionChange($event)"
      (analyticsEvent)="handleAnalyticsEvent($event)"
    />

    <app-backup-scripts-section
      [parameters]="backupScriptsSectionParams"
      (subAccordionChangeEvent)="subAccordionChange($event)"
      (analyticsEvent)="handleAnalyticsEvent($event)"
    />

    <app-multi-language-translator-section
      [parameters]="multiLanguageTranslatorSectionParams"
      (subAccordionChangeEvent)="subAccordionChange($event)"
      (analyticsEvent)="handleAnalyticsEvent($event)"
    />
  </ion-accordion-group>
</ion-content>

<app-footer></app-footer>
