.header-content {
  margin-left: 56px;
}

.general.info {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.analytics-not-allowed {
  margin-top: 20px;
  padding: 12px;
  border: 3px solid var(--ion-color-danger);
  border-radius: 8px;

  p {
    margin: 0;
    font-size: 16px;
  }
}
